* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 10%;
}

.info {
    width: 25%;
    line-height: 30px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

.contenedor, .index{
    width: 25%;
    height: 100vh;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index {
    margin-left: 0;
}

.datos {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
}

.datos div {
    height: 12%;
    display: flex;
    flex-direction: column;
    gap: 15%;
}

.datos input {
    height: 55px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3%;
}

#img {
    border: none;
    padding: 0;
}

#recordar {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

#recordar input{
    width: 20px;
    height: 20px;
}

.datos button {
    width: 100px;
    height: 35px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.datos button:hover {
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.cont-sec {
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    width: 25%;
}

.cont-sec form {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.cont-sec button, .cuenta button {
    margin-top: 5%;
    width: 100px;
    height: 35px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.cont-sec button:hover, .cuenta button:hover {
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.errores {
    line-height: 200%;
}


.cuenta {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuenta h2 {
    padding: 3%;
}

.cuenta form {
    padding: 3%;
}

.cuenta button {
    width: 150px;
}

@media screen and (max-width: 880px) {
    body {
        flex-direction: column;
        gap: 2%;
    }

    .info {
        width: 95%;
        margin-top: 5%;
    }

    .contenedor {
        margin: auto;
        width: 95%;
        min-height: 85%;
    }

    .index {
        margin: auto;
        height: 40%;
        width: 95%;
    }

    .d_index {
        gap: 15%;
    }

    .contenedor input{
        height: 50px
    }

    .contenedor button, .index input {
        height: 40px;
    }

    .cont-sec {
        margin: auto;
        width: 95%;
    }

    .cont-sec form {
        width: 100%;
    }

    .errores {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}